{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "infection/infection.log",
        "html": "infection/infection.html",
        "summary": "infection/summary.log",
        "json": "infection/infection-log.json",
        "perMutator": "infection/per-mutator.md",
        "stryker": {
            "badge": "/^(main$|feature\/)/",
            "report": "/^(main$|feature\/)/"
        }
    },
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true
    },
    "testFramework":"phpunit",
    "initialTestsPhpOptions": "-d zend_extension=xdebug -d xdebug.mode=coverage",
    "minMsi": 30,
    "minCoveredMsi": 70
}
